* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo{
    height: 800px;
    background: url('../img/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img{
    margin: 0 auto;
    display: block;
}

.logo .logo_text{
    color:aliceblue;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h1{
    margin-top: 53px;
}

h2.title{
    margin-top: 30px;
}

.title{
    color: #F9BF3B;
    font-family: 'Roboto';
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big{
    color:aliceblue;
    font-family: 'Roboto';
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text{
    margin-top: 23px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    padding: 0 13px;
}

.promo .promo_text span{
    color: #F9BF3B;
    font-weight: 700;
    font-family: 'Roboto';
    font-weight: 900;
}

.promo .promo_btn{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    outline: none;

    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.more{
    margin-top: 73px;
}

.more .more_text{
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0px 75px;
}

.waiting .waiting_header, .finish .finish_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #252525;
}

.finish .finish_header{
    color: white;
}

.waiting .waiting_divider, .finish .finish_divider{
    width: 220px;
    height: 4px;
    margin: 0 auto;
    margin-top: 18px;

    background: #F9BF3B;
}

.waiting .waiting_subheader{
    color: #4a4a4a;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper{
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color:#4a4a4a;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header{
    margin-left: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    color: #299CBD;

    text-transform: uppercase;
}

.optimization .optimization_text{
    z-index: 1;
    margin-left: 391px;
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;

    color: #4A4A4A;
}

.optimization .optimization_img{
    bottom: -107px;
    right: 512px;
    position: absolute;
    z-index: -1;
}

.finish{
    min-height: 447px;
}

.finish .finish_bg{
    padding: 86px 0 79px 0;
    background: url('../img/second_bg.png') center center/cover no-repeat;
}

.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item{
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    text-align: center;
    color: #EFEFEF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.gift{
    background: #EFEFEF;
    width: auto;
    height: 631px;
}

.gift .gift_ph{
    padding-top: 86px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.gift .gift_desc{
    padding-top: 40px;
    display:flex;
    justify-content: center;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
}

.gift .gift_btn{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    text-align: center;
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.first .firts_img{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    padding-top: 86px;
}

.first .first_desc1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    margin: 30px auto;

    color: #252525;
}

.first .first_desc2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #299CBD;
}

.first .first_desc3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    margin: 20px 0 35px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #4A4A4A;
}

.butterbrot{
    background-color: black;
    width: auto;
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.butterbrot1{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #888888;
}

.butterbrot .butterbrot2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #888888;
}